<h1>Welcome to the admin's dashboard!</h1>

<div class="p-3 mb-2 bg-primary text-white">
<ul>
<li><h4 >This store contains <%=@total_products%> products</h4></li>
<li><h4 >This store contains <%=@total_categories%> categories</h4></li>
</ul>
</div>